/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 */

 .header {
  text-align: center;
  
  }

 .nav-bar{
   margin-right: 50px;
 }
.grid{
  grid-auto-columns: 1fr;
}

 .column-2 {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 50rem;
  height: 80rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

.column-1{
  justify-self: center;
  height: 20rem;
  width: 30rem ;
}