/* body {
 
  background-image: url(https://cdn.edu.buncee.com/rackspace/bnc-assets/backgrounds/55e/689/1441032351_Young_background_education083115_03.jpg);
  background-repeat:no-repeat; 
  background-size: cover;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  text-align: center;
 } */

 