.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 50rem;
  height: 75rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

.img{
  justify-self: center;
  height: 50rem;
  width: auto;
}

.bookCover{
  text-align: center; 
}


 .nav-bar{
   margin-right: 50px;
 }
.grid{
  grid-auto-columns: 1fr;
}

 .column-2 {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 60rem;
  height: 90rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

.column-1{
  justify-self: center;
  height: 20rem;
  width: 30rem ;
} 


/* .bookCover{ */
  /* width: calc(var(--baseline) * 33);
  height: calc(var(--baseline) * 45);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* align-items: center;
  text-align: center; */
  /* background-image: url(https://static.vecteezy.com/system/resources/previews/000/263/031/large_2x/chef-cook-holding-parchment-menu-vector.jpg); */
  /* background-image: url(https://pixy.org/src2/576/5760663.png); */
/* } */

